<h1>UI Kit</h1>
<p>
  Basic components
</p>

<h2>Buttons</h2>
<hr>
<h3>Buttons with Background</h3>
<a class='btn-default-color'>primary color</a>
<a class='btn-default'>default</a>
<a class='btn-blue'>Blue</a>
<a class='btn-success'>Success</a>
<a class='btn-warning'>Warning</a>
<a class='btn-cancel'>Cancel</a>
<a class='btn-disabled'>Disabled</a>
<a class='btn-blue'><i class="fa fa-facebook-square"></i> Facebook</a>
<h3>Underlined Buttons</h3>
<a class='btn-default-color-un'>primary color</a>
<a class='btn-default-un'>default</a>
<a class='btn-blue-un'>Blue</a>
<a class='btn-success-un'>Success</a>
<a class='btn-warning-un'>Warning</a>
<a class='btn-cancel-un'>Cancel</a>
<a class='btn-disabled-un'>Disabled</a>
<a class='btn-blue-un'><i class="fa fa-facebook-square"></i> Facebook</a>

<h2>Forms</h2>
<hr>
<div class='container'>
  <div class='row'>
    <div class='col-6'>
      <input type="text" placeholder='input text'/>
      <div class='grouped-inputs'>
        <label for="myinput"><i class="fa fa-user"></i></label>
        <input type="text" id='myinput' placeholder='input text'/>
      </div>
      <div class='grouped-inputs'>
        <label for="myinput">Username</i></label>
        <input type="text" id='myinput' placeholder='input text'/>
      </div>
      <input type="text" class='required' placeholder='required'/>
      <textarea name="Name" rows="8" cols="40" placeholder='textarea'></textarea>
      <div class='search-rounded'>
        <input type="search" placeholder='input search'/>
        <button type="submit" ><i class="fa fa-search"></i></button>
      </div>
      <div class='search'>
        <input type="search" placeholder='input search'/>
        <button type="submit" ><i class="fa fa-search"></i></button>
      </div>
    </div>
    <div class='col-6'>
      <div class="checkbox">
        <input type="checkbox" id='mycheckbox'/>
        <label for='mycheckbox'></label>
        <span>Checkbox</span>
      </div>
      <div class="checkbox">
        <input type="checkbox" id='mycheckbox2'/>
        <label for='mycheckbox2'></label>
        <span>Checkbox</span>
      </div>
      <div class="radio">
        <input type="radio" name='group1' id='myradio'/>
        <label for='myradio'></label>
        <span>Radio</span>
      </div>
      <div class="radio">
        <input type="radio" name='group1' id='myradio2'/>
        <label for='myradio2'></label>
        <span>Radio</span>
      </div>
      <select id="mySelect">
        <option> Select Option </option>
        <option> Option One</option>
        <option> Option Two</option>
        <option> Option Tree</option>
      </select>

      <div>
        <label class='error'><i class="fa fa-times-circle"></i> Error message</label>
        <label class='warning'><i class="fa fa-exclamation-triangle"></i> Warning message</label>
        <label class='success'><i class="fa fa-check-circle"></i> Success message</label>
      </div>

    </div>
  </div>
</div>

<h2>Grid with Neat [.container > .row > .col-*]</h2>
<hr>
<div class='container'>
  <div class='row backgroundGreyLight'>
    <div class='col-1 backgroundGrey'>
      col-1
    </div>
    <div class='col-11 backgroundGrey'>
      col-11
    </div>
  </div>
  <div class='row backgroundGreyLight'>
    <div class='col-2 backgroundGrey'>
      col-2
    </div>
    <div class='col-10 backgroundGrey'>
      col-10
    </div>
  </div>
  <div class='row backgroundGreyLight'>
    <div class='col-3 backgroundGrey'>
      col-3
    </div>
    <div class='col-9 backgroundGrey'>
      col-9
    </div>
  </div>
  <div class='row backgroundGreyLight'>
    <div class='col-4 backgroundGrey'>
      col-4
    </div>
    <div class='col-8 backgroundGrey'>
      col-8
    </div>
  </div>
  <div class='row backgroundGreyLight'>
    <div class='col-5 backgroundGrey'>
      col-5
    </div>
    <div class='col-7 backgroundGrey'>
      col-7
    </div>
  </div>
  <div class='row backgroundGreyLight'>
    <div class='col-6 backgroundGrey'>
      col-6
    </div>
    <div class='col-6 backgroundGrey'>
      col-6
    </div>
  </div>
  <div class='row backgroundGreyLight'>
    <div class='col-7 backgroundGrey'>
      col-7
    </div>
    <div class='col-5 backgroundGrey'>
      col-5
    </div>
  </div>
  <div class='row backgroundGreyLight'>
    <div class='col-8 backgroundGrey'>
      col-8
    </div>
    <div class='col-4 backgroundGrey'>
      col-4
    </div>
  </div>
  <div class='row backgroundGreyLight'>
    <div class='col-9 backgroundGrey'>
      col-9
    </div>
    <div class='col-3 backgroundGrey'>
      col-3
    </div>
  </div>
  <div class='row backgroundGreyLight'>
    <div class='col-10 backgroundGrey'>
      col-10
    </div>
    <div class='col-2 backgroundGrey'>
      col-2
    </div>
  </div>
  <div class='row backgroundGreyLight'>
    <div class='col-11 backgroundGrey'>
      col-11
    </div>
    <div class='col-1 backgroundGrey'>
      col-1
    </div>
  </div>
  <div class='row backgroundGreyLight'>
    <div class='col-12 backgroundGrey'>
      col-12
    </div>
  </div>
</div>
