<!DOCTYPE html>
<html>
<head>
  <title>AssetsComponents</title>
  <%= stylesheet_link_tag    "assets_components/application", media: "all" %>
  <%= javascript_include_tag "assets_components/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
